#map
  min-width:100vw;
  height:100vh;

.map-legend
  position: absolute;
  display:block;
  z-index:9999;
  width:15rem;
  min-height: 2 rem;
  right: 20px;
  bottom: 20px;
  background:#333;
  color:whitesmoke;
  padding:1rem;

.leaflet-popup-content-wrapper
  border-radius:2px!important;
  background:#333!important;
  color:whitesmoke!important;



.map-legend dl dt
  border:1px solid whitesmoke;
  display:block;
  width:1.5rem;
  height:1.5rem;

dt, dd
  float: left;

dt
  clear:both

dd
  padding-left:1rem;

.leaflet-popup-tip
  background:#333!important;
  color:whitesmoke!important;

.full-width
  width: 100%;

.center-content
  display: flex;
  justify-content: center;
  align-items: center;
